/* importing font */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap");

/* common styles start*/

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
.link {
  text-decoration: none;
}
.nav li {
  list-style: none;
}
.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.btn-primary {
  padding: 25px 20px;
  border: none;
  background-color: #ff900e;
  border-radius: 8px;
}
.btn-primary .link {
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
.section-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.section-description {
  color: #727272;
  margin-bottom: 32px;
}
.check-icon {
  color: #ff900e;
  border: none;
  font-weight: bold;
}

/* common styles end */

/* header styles start */

.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 175px 45px;
}

/* nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  column-gap: 50px;
}
.nav a {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* banner styles */
.banner {
  text-align: center;
}
.banner-info {
  padding: 100px 350px 50px;
}
.banner-title {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-description {
  color: #727272;
  margin-bottom: 32px;
}
.banner-img {
  width: 100%;
  height: auto;
}

/* header styles end */

/* main styles starts */

/* quick list styles */
.quick-list {
  margin: 35px 300px 130px;
  display: flex;
  column-gap: 75px;
  align-items: center;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.ql-color {
  font-weight: 500;
  color: #727272;
}
.fetur-color {
  color: #ff900e;
}

/* Features you will love enjoy styles */
.features-container {
  margin: 0 240px 130px 240px;
  display: flex;
  column-gap: 145px;
}
.all-features .section-title {
  padding-left: 21px;
  border-left: 5px solid #ff900e;
}
.feature {
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 10px;
}
.feature-description {
  color: #727272;
}
.btn-year {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
  line-height: 40px;
  border: 0;
  background-color: #ff900e;
  border-radius: 8px;
  padding: 42px 45px;
  position: relative;
  bottom: 120px;
  right: 90px;
}
.btn-year span {
  color: #ffffff;
  font-weight: 500;
  font-size: 25px;
}

/* some facts styles*/
.some-facts {
  margin: 0 240px;
}
.fact-icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 50px;
}
.fact-icon {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px 30px;
  position: relative;
  width: 170px;
  height: 170px;
  /* transition: all 2s ease-in-out; */
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .fact-icon:hover{
    transform: rotate(360deg);
} */

.number {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin: 10px 0 5px;
}
.number-title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

/* additional section styles */
.additional-section {
  display: flex;
  margin: 130px 240px;
  justify-content: space-between;
  /* margin-bottom: 130px; */
}

.additional-section img {
  border-radius: 50%;
}

/* our sponsor styles */
.our-sponsor {
  margin: 180px 240px 130px;
  text-align: center;
}
.sponsor-description-container {
  padding: 0 345px;
}
.sponsor-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.sponsor {
  mix-blend-mode: multiply;
}
.sponsor img {
  filter: grayscale() brightness(110%);
}

/* main styles ends */

/* footer styles start */

.footer {
  text-align: center;
  margin: 0 240px 216px;
  padding: 28px 0;
  background-color: #fff4e7;
  border-radius: 8px;
}
.footer-title {
  color: #424242;
  font-weight: 400;
  font-size: 20px;
}

/* footer styles end */

/* responsive media query */
/* Small devices */
@media screen and (max-width: 576px) {
  /* header */
  .header {
    margin: 0;
    padding: 5px;
  }
  .banner-title {
    font-weight: 500;
    font-size: 50px;
  }
  .banner-description {
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav {
    width: 100%;
    flex-direction: column;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .banner-info {
    padding: 10px 15px;
  }
  .banner-img {
    width: 100%;
    height: auto;
  }

  /* quick list query*/
  .quick-list {
    margin: 5px;
    display: flex;
    flex-direction: column-reverse;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .ql-img {
    width: 100%;
    height: auto;
  }
  .description-container {
    text-align: center;
    padding: 10px 15px;
  }

  .section-title {
    font-weight: 500;
    font-size: 35px;
  }
  .section-description {
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Features media query */
  .features-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
  }
  /* .all-features .section-description {
    padding: 0 15px;
  } */

  .all-features .section-title {
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .all-features .section-description {
    padding-left: 30px;
    padding-right: 30px;
  }

  .feature {
    padding: 10px 35px;
  }

  .feature-img {
    width: 100%;
    height: auto;
  }
  .btn-year {
    position: static;
    font-weight: 500;
    font-size: 45px;
    padding: 10px 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .btn-year span {
    font-weight: 400;
    font-size: 16px;
  }

  /* some facts query */
  .some-facts {
    margin: 5px;
    text-align: center;
  }
  .fact-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    row-gap: 5px;
  }

  /* additional section query */
  .additional-section {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 10px 50px;
    row-gap: 5px;
  }

  .additional-section img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  /* .additional-section img {
    border-radius: 50%;
  }  */

  /* our sponsor query */
  .our-sponsor {
    margin: 5px;
    text-align: center;
  }
  .sponsor-description-container {
    padding: 10px 15px;
  }
  .sponsor-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
  }

  /* footer query */
  .footer {
    margin: 30px 0;
    padding: 15px;
    text-align: center;
  }
  .footer-title {
    font-weight: 300;
    font-size: 16px;
  }
}
